.add-card{
  width:  40px;
  height: 40px;
  position: relative;
  font-size: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c8c8c8;
  border-radius: 50%;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.2s;
  &:hover{
    color: #fff;
    background-color: darkcyan;
  }

}