.operation{
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  padding: 0 24px;
  &__msg{
    width: 100%;
    margin-top: 16px;
    font-size: 20px;
    text-align: center;
  }
  &__icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:after{
      position: relative;
      display: block;
      text-align: center;
      content:'';
      color: #fff;
      font-size: 60px;
    }
  }
}
.success .operation{
  &__icon{
    background-color: $main-green;
    &:after{
      content: '\2714';
    }
  }
}
.error .operation{
  &__icon{
    background-color: $main-red;
    &:after{
      content: "\2716";
    }
  }
}